* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

/* BACKGROUND */
body {
    min-height: 100vh;
    background: #faf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    margin-bottom: 10px;
    font-size: 14px;
    border: 2px solid #000;
    padding: 6px;
    display: inline-block;
}

/* MAIN BOX */
.game-wrapper {
    background: #faf9f9;
    width: 420px;
    padding: 20px;
    border: 3px solid #000;
}

/* HEADER */
.game-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.game-header img {
    width: 75px;
}

.game-header h1 {
    font-size: 18px;
    letter-spacing: 2px;
}

/* QUESTION */
.question-box {
    border: 2px solid #000;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    min-height: 60px;
}

/* OPTIONS */
.options {
    display: grid;
    gap: 8px;
}

.options button {
    background: #fff;
    border: 2px solid #000;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.options button:hover {
    background: #000;
    color: #fff;
}

/* FOOTER */
.game-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000;
    padding-top: 10px;
}

.game-footer button {
    background: #000;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.game-footer button:hover {
    background: #444;
}

/* ANIMATION */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

.game-over {
    animation: blink 1s infinite;
}

.shake {
    animation: shake 0.3s;
}

/* BUTTON PIXEL */
.restart-btn {
    background: #fff;
    border: 2px solid #000;
    padding: 6px 12px;
    cursor: pointer;
}

.restart-btn:hover {
    background: #000;
    color: #fff;
}
.review-item {
    text-align: left;
    font-size: 13px;
    margin: 10px 0;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

hr {
    border: none;
    border-top: 1px solid #000;
    margin: 8px 0;
}
#start-screen {
    text-align: center;
}

#start-screen input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #000;
    font-family: monospace;
}

#start-screen button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.motivation {
    font-size: 13px;
    margin-top: 10px;
    border: 2px dashed #000;
    padding: 6px;
}
